<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script>
    function validateForm()
    {
      // get element by name
      var name = document.forms.form_login.f_name.value
      var pass = document.forms.form_login.f_passwd.value

      if ( (name == "") || (pass == "") )
      {
        alert("Please complete all fields")
        return false
      }

      return true
    }

  </script>
</head>
<body>
<div class="container">
  <div class="col-label">
  </div>
  <div class="col-entry">
      {{ msg }}
  </div>

  <form name="form_login" action="{{ url_for('login_form') }}" onsubmit="return validateForm()" method="post">
    <div class="row">
      <div class="col-label">
        <label for="name">Name: </label>
      </div>
      <div class="col-entry">
        <input id="name" type="text" name="f_name" minlength="3" maxlength="16" placeholder="name">
      </div>
    </div>
    
    <div class="row">
      <div class="col-label">
        <label for="userPassword">Password: </label>
      </div>
      <div class="col-entry">
        <input id="userPassword" type="password" name="f_passwd" minlength="5" maxlength="32" placeholder="password">
      </div>
    </div>

    <div id="login_sumbit" class="row">
      <input type="submit" value="Login">
    </div>
  </form>

  <form name="form_new_account" action="/new_account" method="post">
    <div class="row">
      <div class="col-label">
        <label for="newAccount">No account? Create new one here: </label>
      </div>
      <div class="col-entry">
        <input id="newAccountBtn" name="newAccount" type="submit" value="Create account">
      </div>
    </div>
  </form>
</div>


</body>
</html>
